In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd
import xgboost as xgb
from myfunctions import amex_metric, age_calculator, value_haver, changefinder

In [3]:
path = '../../data/prepared/'

train_df = pd.read_csv(path + 'train_data.csv')
train_labels = pd.read_csv(path + 'train_labels.csv')
valid_df = pd.read_csv(path + 'val_data.csv')
valid_labels = pd.read_csv(path + 'val_labels.csv')

In [4]:
train_df = age_calculator(train_df)

train_df.head()

,customer_ID,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,age
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,NaN,...,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,NaN,...,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217,29
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,NaN,...,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603,80
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,NaN,...,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600,96
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,NaN,...,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827,129

In [5]:
null_count_columns = ['D_42', 'D_49', 'D_134', 'D_135', 'D_136', 'D_137', 'D_138']
change_over_time_columns = ['D_55', 'B_16', 'B_20']

In [6]:
train_final = value_haver(train_df, null_count_columns)

train_final.head()

,D_42_has_value,D_49_has_value,D_134_has_value,D_135_has_value,D_136_has_value,D_137_has_value,D_138_has_value
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db3b97d1da2eb6c7cab,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef78973c468916fdfc9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773d168012076c118e5f,0.0,1.0,0.0,0.0,0.0,0.0,0.0
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe9c7827dac8bcf0b5c,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
train_final = changefinder(train_final, train_df, change_over_time_columns)

train_final.head()

,D_42_has_value,D_49_has_value,D_134_has_value,D_135_has_value,D_136_has_value,D_137_has_value,D_138_has_value,D_55_change,B_16_change,B_20_change
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.167311,-0.001258,0.002900
0005ef1480ffe4f0e5908eae07db8e05f2e705bca6a57db3b97d1da2eb6c7cab,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.084707,0.090989,0.061401
0005f2ab0cc352cd64eac9e60b981ed8c3289d20fa5fcef78973c468916fdfc9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.021074,-0.088392,-0.008695
0007ee1ac8edb6be588c6c8a158d2268e3228c49cf52773d168012076c118e5f,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.231439,0.002171,0.004207
0008ef32824d3067b4d8ab70e7c79fa04c808f4d99194fe9c7827dac8bcf0b5c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.678095,-0.002616,-0.000587