In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split

In [30]:
path = '~/Documents/repos/we-need-more-ram/amex_default_prediction/data/raw/train_data.csv'
df = pd.read_csv(path)

In [31]:
df.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4426593 entries, 0 to 4426592
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 6.3+ GB

In [33]:
df.isna().sum()

customer_ID          0
S_2                  0
P_2              36778
D_39                 0
B_1                  0
                ...
D_141            81225
D_142          3670330
D_143            81225
D_144            32652
D_145            81225
Length: 190, dtype: int64

In [35]:
null_df = df.isna().sum()
len(null_df)

190

In [43]:
null_df = null_df[null_df > 0]
len(null_df)

123

In [45]:
null_df.sort_values()

B_36           1
R_28           1
D_127          1
B_40          44
R_12          46
          ...
D_111    4401538
D_110    4401538
D_108    4403278
D_88     4421763
D_87     4423517
Length: 123, dtype: int64

In [47]:
null_list = list(null_df.index)
null_list

['P_2',
 'B_2',
 'S_3',
 'D_41',
 'B_3',
 'D_42',
 'D_43',
 'D_44',
 'D_45',
 'D_46',
 'D_48',
 'D_49',
 'B_6',
 'B_8',
 'D_50',
 'D_52',
 'P_3',
 'D_53',
 'D_54',
 'S_7',
 'D_55',
 'D_56',
 'B_13',
 'S_9',
 'D_59',
 'D_61',
 'B_15',
 'D_62',
 'D_64',
 'B_16',
 'B_17',
 'B_19',
 'D_66',
 'B_20',
 'D_68',
 'D_69',
 'B_22',
 'D_70',
 'D_72',
 'D_73',
 'D_74',
 'D_76',
 'D_77',
 'B_25',
 'B_26',
 'D_78',
 'D_79',
 'R_9',
 'D_80',
 'B_27',
 'D_81',
 'D_82',
 'R_12',
 'D_83',
 'D_84',
 'B_29',
 'B_30',
 'D_87',
 'D_88',
 'R_20',
 'B_33',
 'D_89',
 'D_91',
 'S_22',
 'S_23',
 'S_24',
 'S_25',
 'S_26',
 'D_102',
 'D_103',
 'D_104',
 'D_105',
 'D_106',
 'D_107',
 'B_36',
 'B_37',
 'R_26',
 'R_27',
 'B_38',
 'D_108',
 'D_109',
 'D_110',
 'D_111',
 'B_39',
 'D_112',
 'B_40',
 'S_27',
 'D_113',
 'D_114',
 'D_115',
 'D_116',
 'D_117',
 'D_118',
 'D_119',
 'D_120',
 'D_121',
 'D_122',
 'D_123',
 'D_124',
 'D_125',
 'D_126',
 'D_127',
 'D_128',
 'D_129',
 'B_41',
 'B_42',
 'D_130',
 'D_131',
 'D_132',
 'D_133',
 'R_28',
 'D_134',
 'D_135',
 'D_136',
 'D_137',
 'D_138',
 'D_139',
 'D_140',
 'D_141',
 'D_142',
 'D_143',
 'D_144',
 'D_145']

In [48]:
df.drop(columns=null_list, axis=1, inplace=True)
df.shape

(4426593, 67)

In [49]:
df.columns

Index(['customer_ID', 'S_2', 'D_39', 'B_1', 'R_1', 'B_4', 'B_5', 'R_2', 'D_47',
       'B_7', 'D_51', 'B_9', 'R_3', 'B_10', 'S_5', 'B_11', 'S_6', 'R_4',
       'B_12', 'S_8', 'R_5', 'D_58', 'B_14', 'D_60', 'S_11', 'D_63', 'D_65',
       'B_18', 'S_12', 'R_6', 'S_13', 'B_21', 'D_71', 'S_15', 'B_23', 'P_4',
       'D_75', 'B_24', 'R_7', 'R_8', 'S_16', 'R_10', 'R_11', 'S_17', 'B_28',
       'R_13', 'R_14', 'R_15', 'R_16', 'S_18', 'D_86', 'R_17', 'R_18', 'B_31',
       'S_19', 'R_19', 'B_32', 'S_20', 'R_21', 'R_22', 'R_23', 'D_92', 'D_93',
       'D_94', 'R_24', 'R_25', 'D_96'],
      dtype='object')

In [70]:
df.customer_ID.nunique()

367266

In [71]:
most_recent = df.groupby('customer_ID').S_2.max()

In [75]:
most_recent = pd.DataFrame(most_recent)
most_recent

                                                           S_2
customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fb...  2018-03-13
00000fd6641609c6ece5454664794f0340ad84dddce9a26...  2018-03-25
00001b22f846c82c51f6e3958ccd81970162bae8b007e80...  2018-03-12
000041bdba6ecadd89a52d11886e8eaaec9325906c97233...  2018-03-29
00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad...  2018-03-30
...                                                        ...
cc9fb7cf92fa69bb27cab1ebee0319e249e352697fe0f19...  2018-03-24
cc9fcb6c8ea041c0f4bad014b8ed45a77ce71a047ebe3f8...  2018-03-29
cca01647d3f5e3e162d60a99ba8fe0f159128c4db398dd0...  2018-03-30
cca029bafcc5b504e4ac512b27fb578512e54dc3cbf1a8f...  2018-03-13
cca047ab07a85d6bab116f0e00949f19ab9e0aa36b23b77...  2017-06-28

[367266 rows x 1 columns]

In [78]:
most_recent.reset_index(inplace=True)

In [82]:
recent_df = pd.merge(most_recent, df, on=['customer_ID', 'S_2'])

In [83]:
recent_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 367266 entries, 0 to 367265
Data columns (total 67 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_ID  367266 non-null  object
 1   S_2          367266 non-null  object
 2   D_39         367266 non-null  float64
 3   B_1          367266 non-null  float64
 4   R_1          367266 non-null  float64
 5   B_4          367266 non-null  float64
 6   B_5          367266 non-null  float64
 7   R_2          367266 non-null  float64
 8   D_47         367266 non-null  float64
 9   B_7          367266 non-null  float64
 10  D_51         367266 non-null  float64
 11  B_9          367266 non-null  float64
 12  R_3          367266 non-null  float64
 13  B_10         367266 non-null  float64
 14  S_5          367266 non-null  float64
 15  B_11         367266 non-null  float64
 16  S_6          367266 non-null  float64
 17  R_4          367266 non-null  float64
 18  B_12         367266 non-null  float64
 19  S_8          367266 non-null  float64
 20  R_5          367266 non-null  float64
 21  D_58         367266 non-null  float64
 22  B_14         367266 non-null  float64
 23  D_60         367266 non-null  float64
 24  S_11         367266 non-null  float64
 25  D_63         367266 non-null  object
 26  D_65         367266 non-null  float64
 27  B_18         367266 non-null  float64
 28  S_12         367266 non-null  float64
 29  R_6          367266 non-null  float64
 30  S_13         367266 non-null  float64
 31  B_21         367266 non-null  float64
 32  D_71         367266 non-null  float64
 33  S_15         367266 non-null  float64
 34  B_23         367266 non-null  float64
 35  P_4          367266 non-null  float64
 36  D_75         367266 non-null  float64
 37  B_24         367266 non-null  float64
 38  R_7          367266 non-null  float64
 39  R_8          367266 non-null  float64
 40  S_16         367266 non-null  float64
 41  R_10         367266 non-null  float64
 42  R_11         367266 non-null  float64
 43  S_17         367266 non-null  float64
 44  B_28         367266 non-null  float64
 45  R_13         367266 non-null  float64
 46  R_14         367266 non-null  float64
 47  R_15         367266 non-null  float64
 48  R_16         367266 non-null  float64
 49  S_18         367266 non-null  float64
 50  D_86         367266 non-null  float64
 51  R_17         367266 non-null  float64
 52  R_18         367266 non-null  float64
 53  B_31         367266 non-null  int64
 54  S_19         367266 non-null  float64
 55  R_19         367266 non-null  float64
 56  B_32         367266 non-null  float64
 57  S_20         367266 non-null  float64
 58  R_21         367266 non-null  float64
 59  R_22         367266 non-null  float64
 60  R_23         367266 non-null  float64
 61  D_92         367266 non-null  float64
 62  D_93         367266 non-null  float64
 63  D_94         367266 non-null  float64
 64  R_24         367266 non-null  float64
 65  R_25         367266 non-null  float64
 66  D_96         367266 non-null  float64
dtypes: float64(63), int64(1), object(3)
memory usage: 190.5+ MB

In [84]:
label_path = '~/Documents/repos/we-need-more-ram/amex_default_prediction/data/raw/train_labels.csv'
labels = pd.read_csv(label_path)
labels.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [85]:
merged_df = pd.merge(recent_df, labels, on='customer_ID')
merged_df.head()

,customer_ID,S_2,D_39,B_1,R_1,B_4,B_5,R_2,D_47,B_7,...,R_21,R_22,R_23,D_92,D_93,D_94,R_24,R_25,D_96,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.009119,0.009382,0.006104,0.070793,0.231717,0.008309,0.539715,0.058425,...,0.008501,0.001445,0.003080,0.003641,0.004638,0.003866,0.005909,0.005458,0.001190,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.178126,0.034684,0.006911,0.020626,0.027000,0.004976,0.402195,0.028411,...,0.000473,0.000907,0.003830,0.004641,0.000195,0.000523,0.006421,0.004975,0.002397,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.009704,0.004284,0.006450,0.031044,0.001557,0.001687,0.339125,0.026981,...,0.008178,0.004085,0.001122,0.002195,0.003562,0.003742,0.000170,0.004746,0.009617,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,0.001083,0.012564,0.007829,0.007235,0.118818,0.004238,0.414224,0.011969,...,0.002196,0.003347,0.005297,0.002310,0.009715,0.003028,0.009486,0.008072,0.006325,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.005573,0.007679,0.001247,0.269407,0.004855,0.001991,0.480303,0.159818,...,0.000266,0.005827,0.006047,0.002473,0.001454,0.009854,0.004971,0.002976,0.001382,0

In [86]:
merged_df.drop(columns=['customer_ID', 'S_2', 'D_63'], axis=1, inplace=True)
merged_df.head()

,D_39,B_1,R_1,B_4,B_5,R_2,D_47,B_7,D_51,B_9,...,R_21,R_22,R_23,D_92,D_93,D_94,R_24,R_25,D_96,target
0,0.009119,0.009382,0.006104,0.070793,0.231717,0.008309,0.539715,0.058425,0.673522,0.009535,...,0.008501,0.001445,0.003080,0.003641,0.004638,0.003866,0.005909,0.005458,0.001190,0
1,0.178126,0.034684,0.006911,0.020626,0.027000,0.004976,0.402195,0.028411,0.339683,0.012926,...,0.000473,0.000907,0.003830,0.004641,0.000195,0.000523,0.006421,0.004975,0.002397,0
2,0.009704,0.004284,0.006450,0.031044,0.001557,0.001687,0.339125,0.026981,0.342118,0.009392,...,0.008178,0.004085,0.001122,0.002195,0.003562,0.003742,0.000170,0.004746,0.009617,0
3,0.001083,0.012564,0.007829,0.007235,0.118818,0.004238,0.414224,0.011969,0.333342,0.020526,...,0.002196,0.003347,0.005297,0.002310,0.009715,0.003028,0.009486,0.008072,0.006325,0
4,0.005573,0.007679,0.001247,0.269407,0.004855,0.001991,0.480303,0.159818,0.003557,0.004027,...,0.000266,0.005827,0.006047,0.002473,0.001454,0.009854,0.004971,0.002976,0.001382,0

In [88]:
X = merged_df.drop(columns='target')
y = merged_df['target']

In [91]:
seed = 42

X_train, X_validate, y_train, y_validate = train_test_split(X, y, test_size=0.2,
                                                            random_state=seed,
                                                            stratify=y)

In [98]:
def amex_metric(y_true: pd.DataFrame, y_pred: pd.DataFrame) -> float:

    def top_four_percent_captured(y_true: pd.DataFrame, y_pred: pd.DataFrame) -> float:
        df = (pd.concat([y_true, y_pred], axis='columns')
              .sort_values('prediction', ascending=False))
        df['weight'] = df['target'].apply(lambda x: 20 if x==0 else 1)
        four_pct_cutoff = int(0.04 * df['weight'].sum())
        df['weight_cumsum'] = df['weight'].cumsum()
        df_cutoff = df.loc[df['weight_cumsum'] <= four_pct_cutoff]
        return (df_cutoff['target'] == 1).sum() / (df['target'] == 1).sum()
        
    def weighted_gini(y_true: pd.DataFrame, y_pred: pd.DataFrame) -> float:
        df = (pd.concat([y_true, y_pred], axis='columns')
              .sort_values('prediction', ascending=False))
        df['weight'] = df['target'].apply(lambda x: 20 if x==0 else 1)
        df['random'] = (df['weight'] / df['weight'].sum()).cumsum()
        total_pos = (df['target'] * df['weight']).sum()
        df['cum_pos_found'] = (df['target'] * df['weight']).cumsum()
        df['lorentz'] = df['cum_pos_found'] / total_pos
        df['gini'] = (df['lorentz'] - df['random']) * df['weight']
        return df['gini'].sum()

    def normalized_weighted_gini(y_true: pd.DataFrame, y_pred: pd.DataFrame) -> float:
        y_true_pred = y_true.rename(columns={'target': 'prediction'})
        return weighted_gini(y_true, y_pred) / weighted_gini(y_true, y_true_pred)

    g = normalized_weighted_gini(y_true, y_pred)
    d = top_four_percent_captured(y_true, y_pred)

    return 0.5 * (g + d)

In [96]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.1-py3-none-macosx_12_0_arm64.whl (1.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.5 MB 2.8 MB/s eta 0:00:01
Requirement already satisfied: numpy in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.1

In [97]:
import xgboost as xgb

In [143]:
xgb_model = xgb.XGBRegressor(objective='binary:logistic', random_state=seed)

In [144]:
xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, objective='binary:logistic', predictor='auto',
             random_state=42, reg_alpha=0, ...)

In [145]:
y_pred = xgb_model.predict(X_train)

In [146]:
y_train_final = pd.DataFrame(y_train)
y_pred_final = pd.DataFrame(y_pred, columns=['prediction'])

In [147]:
print(amex_metric(y_train_final, y_pred_final))

0.02131923819421059

In [150]:
y_pred_final['binary_outcome'] = y_pred_final['prediction'].apply(lambda x: 1 if x >= 0.5 else 0)
y_pred_final

        prediction  binary_outcome
0         0.743725               1
1         0.462757               0
2         0.306933               0
3         0.996255               1
4         0.004818               0
...            ...             ...
293807    0.006868               0
293808    0.007193               0
293809    0.302325               0
293810    0.918914               1
293811    0.002186               0

[293812 rows x 2 columns]

In [154]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [152]:
confusion_matrix(y_train_final, y_pred_final['binary_outcome'])

array([[204573,  13039],
       [ 15560,  60640]])

In [155]:
accuracy_score(y_train_final, y_pred_final['binary_outcome'])

0.9026622466066736