In [1]:
import pandas as pd

In [3]:
path = '../../data/prepared/'

valid_df = pd.read_csv(path + 'val_data.csv')
valid_labels = pd.read_csv(path + 'val_labels.csv')

In [4]:
valid_df.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-03-01,0.929122,0.382790,0.025782,1.002647,0.005515,0.089799,0.001479,0.005830,...,NaN,NaN,NaN,0.003776,0.001808,0.008200,NaN,0.001061,0.000027,0.002629
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-04-16,0.918431,0.002224,0.006806,1.008186,0.003287,0.095966,0.007831,0.000861,...,NaN,NaN,NaN,0.004046,0.008288,0.001375,NaN,0.009999,0.002669,0.006912
2,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-05-07,0.922563,0.567403,0.033713,1.007497,0.005594,0.094655,0.003162,0.010466,...,NaN,NaN,NaN,0.007742,0.002693,0.009851,NaN,0.000996,0.003254,0.004469
3,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-06-25,0.919253,0.213193,0.031170,1.008534,0.008996,0.099089,0.009513,0.005360,...,NaN,NaN,NaN,0.002502,0.003399,0.004284,NaN,0.002642,0.004325,0.006308
4,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-07-30,0.901860,0.325467,0.109644,1.005098,0.008041,0.108526,0.000732,0.005484,...,NaN,NaN,NaN,0.000275,0.007992,0.006918,NaN,0.009869,0.002979,0.005527

In [5]:
valid_labels.head()

                                         customer_ID  target
0  fe0b6ed3f5ef7353e8980e5da72cf46f8cb80c3894dd76...       0
1  a35586d1ed04531a80199c76bbf32c8eab4c43f1f59c97...       0
2  e474d43060190cdc995616f0066f37b184f0628ab52d84...       0
3  c63e46f3dc819d25dcc9bba394452f7417894030b7ed41...       0
4  a54f7277592c93dabe51287296b23a79bfc1994f3d201d...       0

In [6]:
valid_df.shape

(1397562, 190)

In [7]:
valid_labels.shape

(214152, 2)

In [8]:
valid_df.customer_ID.nunique()

115976

In [9]:
train_df = pd.read_csv(path + 'train_data.csv')
train_labels = pd.read_csv(path + 'train_labels.csv')

In [10]:
train_labels.shape

(39007, 2)

In [11]:
train_df.customer_ID.nunique()

21069

In [19]:
train_mask = train_labels.customer_ID.isin(train_df.customer_ID.tolist())

In [21]:
train_labels[~train_mask]

                                             customer_ID  target
0      e039c846adcb1bfd543d89b8beba6a0f1a2ecdf835cd22...       0
1      8a96ff0aacb31ab4aab4cd15f13e024c04f986b8926789...       0
2      cfe6ef5945ef9c04937bb1826ec350ae7f2d173867f7fe...       0
3      9b677e823a94355cf65d2b97930dd59fce82cbf69e82b8...       1
4      d48853a03d0d463a4b058d129453daaf530160ccc4f0c2...       0
...                                                  ...     ...
38998  bfa6d5c16a260a8578deb910bd1f9c402aaa7b3d26641d...       0
39000  a00f037723935861a8f70fa903b98addaf41aa94a1e121...       0
39001  b69c8c231373ae76a0a4d84a4ad30997e57d7793ad5af8...       0
39004  8edaca5e3bfb75028c71f11b38d0cb1d7e2565277ec909...       1
39005  8d0f928ebe331f7e9bcf6b4bfed6f305328ebdebe8b7f4...       0

[17938 rows x 2 columns]

In [17]:
train_labels.shape

(39007, 2)

In [15]:
valid_df.customer_ID.isin(valid_labels.customer_ID.tolist()).sum()

1397562

In [22]:
X_df = pd.read_csv('../../data/raw/train_data.csv')
y_df = pd.read_csv('../../data/raw/train_labels.csv')

In [23]:
y_df_mask = y_df.customer_ID.isin(X_df.customer_ID.tolist())

In [26]:
y_df[y_df_mask]

                                              customer_ID  target
0       0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1       00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2       00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3       000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4       00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0
...                                                   ...     ...
248100  8a1a48e562746373c82e7dbe9d146edb0d7e74f00d0796...       0
248101  8a1a4aedc2a01aa555883b3304a998c65a4b6d37f67c24...       0
248102  8a1a51b903f47f8e4d1361df6a411b80f57a189d95a422...       0
248103  8a1a63b8f8b12d173f54e4d9a73069fc1cf42ed0550149...       0
248104  8a1a980eefab5c51a0b96b15b2a6f9f6d41a7da395e075...       0

[248105 rows x 2 columns]

In [25]:
y_df[~y_df_mask]

                                              customer_ID  target
248105  8a1aeb076a2c9230f592a1fe260c9a97c1dd8c64968db6...       0
248106  8a1b012b642b23d95bf1270fbed93ad957a149e3ff4333...       0
248107  8a1b46a76eb81e4a3a8e9cc2bde0226fde1e64549306c3...       0
248108  8a1b4ffdc34dee6cdafcd034fc3a3d1b667f7e50a86f6e...       0
248109  8a1b9948a965fdaa0889648b5af97f560ae2a3a58f80b5...       0
...                                                   ...     ...
458908  ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...       0
458909  ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...       0
458910  ffff9984b999fccb2b6127635ed0736dda94e544e67e02...       0
458911  ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...       1
458912  fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...       0

[210808 rows x 2 columns]