# Checking out the data

## Imports

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split

## Read in the data

In [2]:
X_df = pd.read_csv('../../data/prepared/train_data.csv')
X_df

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470739,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2017-11-06,0.730505,0.589866,0.051951,1.008380,0.008432,0.137431,0.000815,0.004927,...,NaN,NaN,NaN,0.005826,0.002661,0.006540,NaN,0.002191,0.001231,0.007120
470740,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2017-12-03,0.833949,0.005199,0.013103,1.005107,0.001183,0.134598,0.003260,0.001333,...,NaN,NaN,NaN,0.009753,0.009238,0.006315,NaN,0.009012,0.000864,0.005220
470741,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-01-16,0.837949,0.008265,0.013163,1.007224,0.005757,0.133852,0.005954,0.007394,...,NaN,NaN,NaN,0.008494,0.001622,0.009657,NaN,0.005007,0.008420,0.002532
470742,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-02-23,0.812465,0.002464,0.016056,1.003230,0.007137,0.136428,0.000088,0.009943,...,NaN,NaN,NaN,0.009720,0.009944,0.001952,NaN,0.007779,0.005021,0.005594
470743,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,2018-03-31,0.844229,0.447585,0.028515,1.009867,0.001928,0.128707,0.003482,0.005893,...,NaN,NaN,NaN,0.007917,0.001520,0.005530,NaN,0.001430,0.003009,0.004843

In [3]:
y_df = pd.read_csv('../../data/prepared/train_labels.csv')
y_df

                                             customer_ID  target
0      e039c846adcb1bfd543d89b8beba6a0f1a2ecdf835cd22...       0
1      8a96ff0aacb31ab4aab4cd15f13e024c04f986b8926789...       0
2      cfe6ef5945ef9c04937bb1826ec350ae7f2d173867f7fe...       0
3      9b677e823a94355cf65d2b97930dd59fce82cbf69e82b8...       1
4      d48853a03d0d463a4b058d129453daaf530160ccc4f0c2...       0
...                                                  ...     ...
39002  79d17f1e1bee31fe1e1f9f6c69cadb8d1c9f6d6f7b9071...       0
39003  5bb1b40a1b26232d9140b8cab0f26639a54d2af554f6f6...       0
39004  8edaca5e3bfb75028c71f11b38d0cb1d7e2565277ec909...       1
39005  8d0f928ebe331f7e9bcf6b4bfed6f305328ebdebe8b7f4...       0
39006  636668de4796b40afae2bcd39f01a803f491effa499bec...       0

[39007 rows x 2 columns]

## Declare the special columns

In [4]:
cat_columns = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']
date_column = ['S_2']

## Let's check out the nulls

In [5]:
null_dict = {
    'total_nulls': X_df.drop(columns='customer_ID').isna().sum(),
    'percent_nulls': X_df.drop(columns='customer_ID').isna().sum() / X_df.shape[0],
}

null_df = pd.DataFrame.from_dict(null_dict)
null_df

       total_nulls  percent_nulls
S_2              0       0.000000
P_2           3937       0.008363
D_39             0       0.000000
B_1              0       0.000000
B_2            188       0.000399
...            ...            ...
D_141         8390       0.017823
D_142       389671       0.827777
D_143         8390       0.017823
D_144         3376       0.007172
D_145         8390       0.017823

[189 rows x 2 columns]

### I will print all of them out so we can see all of the columns

In [6]:
with pd.option_context('display.max_rows', None,):
    print(null_df.sort_values('total_nulls'))

       total_nulls  percent_nulls
S_2              0       0.000000
R_13             0       0.000000
B_28             0       0.000000
R_11             0       0.000000
R_10             0       0.000000
S_16             0       0.000000
R_8              0       0.000000
R_7              0       0.000000
B_24             0       0.000000
D_75             0       0.000000
R_14             0       0.000000
P_4              0       0.000000
S_15             0       0.000000
D_71             0       0.000000
B_21             0       0.000000
S_13             0       0.000000
R_6              0       0.000000
S_12             0       0.000000
B_18             0       0.000000
D_65             0       0.000000
D_63             0       0.000000
B_23             0       0.000000
S_11             0       0.000000
R_15             0       0.000000
S_18             0       0.000000
R_28             0       0.000000
D_127            0       0.000000
B_36             0       0.000000
D_96             0       0.000000
R_25             0       0.000000
R_24             0       0.000000
D_94             0       0.000000
D_93             0       0.000000
D_92             0       0.000000
R_16             0       0.000000
R_23             0       0.000000
R_21             0       0.000000
S_20             0       0.000000
B_32             0       0.000000
R_19             0       0.000000
S_19             0       0.000000
B_31             0       0.000000
R_18             0       0.000000
R_17             0       0.000000
D_86             0       0.000000
R_22             0       0.000000
D_60             0       0.000000
S_17             0       0.000000
S_8              0       0.000000
D_39             0       0.000000
B_1              0       0.000000
R_4              0       0.000000
R_3              0       0.000000
B_12             0       0.000000
B_9              0       0.000000
D_51             0       0.000000
B_11             0       0.000000
S_5              0       0.000000
B_7              0       0.000000
D_47             0       0.000000
S_6              0       0.000000
R_2              0       0.000000
R_5              0       0.000000
B_5              0       0.000000
D_58             0       0.000000
B_4              0       0.000000
B_10             0       0.000000
B_14             0       0.000000
R_1              0       0.000000
B_37             2       0.000004
B_40             2       0.000004
R_20             4       0.000008
R_12             4       0.000008
B_6             23       0.000049
S_23            45       0.000096
S_26            62       0.000132
B_41            66       0.000140
D_109          151       0.000321
B_38           188       0.000399
B_30           188       0.000399
D_45           188       0.000399
B_2            188       0.000399
B_27           188       0.000399
D_41           188       0.000399
B_33           188       0.000399
B_3            188       0.000399
B_26           188       0.000399
B_16           188       0.000399
B_19           188       0.000399
B_20           188       0.000399
B_22           188       0.000399
D_54           188       0.000399
D_112          250       0.000531
B_25           606       0.001287
B_15           606       0.001287
S_25          1162       0.002468
S_24          1560       0.003314
S_22          1597       0.003393
D_80          1747       0.003711
D_74          1747       0.003711
B_8           1974       0.004193
D_72          1982       0.004210
D_81          2144       0.004554
D_52          2481       0.005270
D_89          2481       0.005270
D_84          2481       0.005270
D_140         3368       0.007155
D_102         3368       0.007155
D_144         3376       0.007172
D_133         3605       0.007658
P_2           3937       0.008363
B_13          4188       0.008897
D_79          6205       0.013181
D_70          7755       0.016474
D_141         8390       0.017823
D_143         8390       0.017823
D_128         8390       0.017823
D_131         8390       0.017823
D_103         8390       0.017823
D_104         8390       0.017823
D_107         8390       0.017823
D_129         8390       0.017823
D_139         8390       0.017823
D_130         8390       0.017823
D_145         8390       0.017823
D_59          9021       0.019163
D_126         9642       0.020482
R_27         10717       0.022766
D_91         13158       0.027951
D_125        14565       0.030940
D_124        14565       0.030940
D_123        14565       0.030940
D_122        14565       0.030940
D_121        14565       0.030940
D_120        14565       0.030940
D_119        14565       0.030940
D_118        14565       0.030940
D_117        14565       0.030940
D_115        14565       0.030940
D_114        14565       0.030940
D_113        14565       0.030940
D_116        14565       0.030940
D_55         15401       0.032716
D_69         16021       0.034033
D_83         16021       0.034033
D_68         17974       0.038182
D_64         18123       0.038499
D_78         23971       0.050922
D_44         23971       0.050922
P_3          25101       0.053322
D_61         49998       0.106211
D_48         60110       0.127691
D_62         63517       0.134929
S_7          88016       0.186972
S_3          88016       0.186972
D_46        101872       0.216406
S_27        120684       0.256369
D_43        139984       0.297368
D_77        213884       0.454353
S_9         251082       0.533373
D_56        254314       0.540238
D_105       257543       0.547098
B_17        265798       0.564634
D_50        268618       0.570624
D_53        346526       0.736124
D_82        347185       0.737524
D_142       389671       0.827777
D_42        404758       0.859826
D_76        417835       0.887606
R_26        418123       0.888217
D_66        418967       0.890010
D_49        423202       0.899007
D_132       423484       0.899606
D_106       423634       0.899924
B_29        438553       0.931617
R_9         444117       0.943436
D_138       454083       0.964607
D_137       454083       0.964607
D_136       454083       0.964607
D_134       454083       0.964607
D_135       454083       0.964607
B_42        464984       0.987764
D_73        466143       0.990226
B_39        467850       0.993852
D_111       468054       0.994286
D_110       468054       0.994286
D_108       468388       0.994995
D_88        470267       0.998987
D_87        470416       0.999303

### I'm gonna add a column with just the feature category denoted so we can see if one of the categories is a worse offender in the null department

In [7]:
null_df['feature_category'] = null_df.index.str[0]
null_df

       total_nulls  percent_nulls feature_category
S_2              0       0.000000                S
P_2           3937       0.008363                P
D_39             0       0.000000                D
B_1              0       0.000000                B
B_2            188       0.000399                B
...            ...            ...              ...
D_141         8390       0.017823                D
D_142       389671       0.827777                D
D_143         8390       0.017823                D
D_144         3376       0.007172                D
D_145         8390       0.017823                D

[189 rows x 3 columns]

### Now let's groupby those feature categories to see which category has the worst null situation

For reference: 
* D_* = Delinquency variables
* S_* = Spend variables
* P_* = Payment variables
* B_* = Balance variables
* R_* = Risk variables

In [8]:
null_df.groupby('feature_category').percent_nulls.agg(['mean', 'median', 'max', 'min']).sort_values('mean', ascending=False)

                      mean    median       max  min
feature_category
D                 0.234015  0.030940  0.999303  0.0
B                 0.087453  0.000095  0.993852  0.0
R                 0.066230  0.000000  0.943436  0.0
S                 0.053322  0.000000  0.533373  0.0
P                 0.020562  0.008363  0.053322  0.0

#### We can see that D (Delinquency) is definitely has some issues that need to be worked out

### Let's see which category has the most columns with over 50% nulls

In [9]:
null_df[null_df.percent_nulls > 0.5].feature_category.value_counts()

D    23
B     4
R     2
S     1
Name: feature_category, dtype: int64

#### Yep, we will definitely need to address the D features

### Let's see some of these worst offenders

In [10]:
null_df[null_df.percent_nulls > 0.5].sort_values('percent_nulls', ascending=False)

       total_nulls  percent_nulls feature_category
D_87        470416       0.999303                D
D_88        470267       0.998987                D
D_108       468388       0.994995                D
D_111       468054       0.994286                D
D_110       468054       0.994286                D
B_39        467850       0.993852                B
D_73        466143       0.990226                D
B_42        464984       0.987764                B
D_138       454083       0.964607                D
D_137       454083       0.964607                D
D_136       454083       0.964607                D
D_135       454083       0.964607                D
D_134       454083       0.964607                D
R_9         444117       0.943436                R
B_29        438553       0.931617                B
D_106       423634       0.899924                D
D_132       423484       0.899606                D
D_49        423202       0.899007                D
D_66        418967       0.890010                D
R_26        418123       0.888217                R
D_76        417835       0.887606                D
D_42        404758       0.859826                D
D_142       389671       0.827777                D
D_82        347185       0.737524                D
D_53        346526       0.736124                D
D_50        268618       0.570624                D
B_17        265798       0.564634                B
D_105       257543       0.547098                D
D_56        254314       0.540238                D
S_9         251082       0.533373                S

### Now lets see what the top three of these have for values

In [11]:
X_df.D_87.value_counts()

1.0    328
Name: D_87, dtype: int64

#### We may be able to just replace nulls with 0 here

#### I wonder if whether some one defaults is dependent on this column?

In [12]:
y_df[y_df.customer_ID.isin(X_df[X_df.D_87 == 1.0].customer_ID.unique())].target.value_counts()

1    66
0     5
Name: target, dtype: int64

#### Definitely should check this out in stats testing

In [13]:
X_df.D_88.value_counts().sort_index()

0.001298    1
0.002024    1
0.002198    1
0.002913    1
0.003060    1
           ..
1.116391    1
1.129838    1
1.155481    1
2.634243    1
2.669250    1
Name: D_88, Length: 477, dtype: int64

#### Here we may need to find an imputation method

In [14]:
X_df.D_108.value_counts().sort_index()

0.000007    1
0.000009    1
0.000025    1
0.000025    1
0.000032    1
           ..
2.009450    1
3.001026    1
3.003443    1
3.003562    1
4.000103    1
Name: D_108, Length: 2356, dtype: int64

#### Same with this one