# Checking out the data

## Imports

In [1]:
import pandas as pd

## Read in the data

In [2]:
X_df = pd.read_csv('../../data/raw/train_data.csv')
X_df

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531446,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2017-11-05,0.979332,0.416013,0.020818,0.828199,0.003487,0.090743,0.005340,0.025139,...,NaN,NaN,NaN,0.006838,0.003680,0.000457,NaN,0.000905,0.001498,0.002774
5531447,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2017-12-23,0.984907,0.296536,0.007209,0.812610,0.005904,0.079886,0.002243,0.023691,...,NaN,NaN,NaN,0.003310,0.007097,0.007857,NaN,0.002777,0.008225,0.008856
5531448,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-01-06,0.983019,0.443984,0.013151,0.815422,0.003457,0.100503,0.002111,0.012343,...,NaN,NaN,NaN,0.009955,0.009994,0.001088,NaN,0.005693,0.006773,0.005566
5531449,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-02-06,0.969861,0.442553,0.009855,1.003541,0.005117,0.101802,0.009930,0.008578,...,NaN,NaN,NaN,0.005541,0.006564,0.009883,NaN,0.008123,0.001168,0.003983
5531450,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-03-14,0.982175,0.002474,0.000077,0.992880,0.000809,0.119165,0.003287,0.014092,...,NaN,NaN,NaN,0.007316,0.002888,0.006207,NaN,0.005110,0.003184,0.001914

In [3]:
y_df = pd.read_csv('../../data/raw/train_labels.csv')
y_df

                                              customer_ID  target
0       0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1       00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2       00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3       000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4       00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0
...                                                   ...     ...
458908  ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...       0
458909  ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...       0
458910  ffff9984b999fccb2b6127635ed0736dda94e544e67e02...       0
458911  ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...       1
458912  fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...       0

[458913 rows x 2 columns]

## Declare the special columns

In [4]:
cat_columns = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']
date_column = ['S_2']

## Let's check out the nulls

In [14]:
null_dict = {
    'total_nulls': X_df.drop(columns='customer_ID').isna().sum(),
    'percent_nulls': X_df.drop(columns='customer_ID').isna().sum() / X_df.shape[0],
}

null_df = pd.DataFrame.from_dict(null_dict)
null_df

       total_nulls  percent_nulls
S_2              0       0.000000
P_2          45985       0.008313
D_39             0       0.000000
B_1              0       0.000000
B_2           2016       0.000364
...            ...            ...
D_141       101548       0.018358
D_142      4587043       0.829266
D_143       101548       0.018358
D_144        40727       0.007363
D_145       101548       0.018358

[189 rows x 2 columns]

### I will print all of them out so we can see all of the columns

In [15]:
with pd.option_context('display.max_rows', None,):
    print(null_df.sort_values('total_nulls'))

       total_nulls  percent_nulls
S_2              0   0.000000e+00
R_13             0   0.000000e+00
B_28             0   0.000000e+00
R_11             0   0.000000e+00
R_10             0   0.000000e+00
S_16             0   0.000000e+00
R_8              0   0.000000e+00
B_24             0   0.000000e+00
D_75             0   0.000000e+00
P_4              0   0.000000e+00
B_23             0   0.000000e+00
S_15             0   0.000000e+00
D_71             0   0.000000e+00
B_21             0   0.000000e+00
S_13             0   0.000000e+00
R_6              0   0.000000e+00
S_12             0   0.000000e+00
B_18             0   0.000000e+00
D_65             0   0.000000e+00
D_63             0   0.000000e+00
R_15             0   0.000000e+00
S_11             0   0.000000e+00
R_16             0   0.000000e+00
D_86             0   0.000000e+00
R_28             0   0.000000e+00
D_127            0   0.000000e+00
B_36             0   0.000000e+00
D_96             0   0.000000e+00
R_25             0   0.000000e+00
R_24             0   0.000000e+00
D_94             0   0.000000e+00
D_93             0   0.000000e+00
D_92             0   0.000000e+00
R_23             0   0.000000e+00
R_22             0   0.000000e+00
R_21             0   0.000000e+00
S_20             0   0.000000e+00
B_32             0   0.000000e+00
R_19             0   0.000000e+00
S_19             0   0.000000e+00
B_31             0   0.000000e+00
R_18             0   0.000000e+00
R_17             0   0.000000e+00
S_18             0   0.000000e+00
D_60             0   0.000000e+00
S_17             0   0.000000e+00
B_4              0   0.000000e+00
S_5              0   0.000000e+00
B_1              0   0.000000e+00
B_11             0   0.000000e+00
D_39             0   0.000000e+00
S_6              0   0.000000e+00
R_3              0   0.000000e+00
R_4              0   0.000000e+00
B_9              0   0.000000e+00
D_51             0   0.000000e+00
B_10             0   0.000000e+00
S_8              0   0.000000e+00
B_7              0   0.000000e+00
B_12             0   0.000000e+00
R_5              0   0.000000e+00
D_47             0   0.000000e+00
R_2              0   0.000000e+00
B_5              0   0.000000e+00
B_14             0   0.000000e+00
D_58             0   0.000000e+00
R_1              0   0.000000e+00
R_7              1   1.807844e-07
R_14             1   1.807844e-07
B_40            53   9.581573e-06
B_37            56   1.012393e-05
R_12            56   1.012393e-05
R_20            75   1.355883e-05
B_6            233   4.212276e-05
S_23           445   8.044905e-05
S_26           634   1.146173e-04
B_41           690   1.247412e-04
D_109         1597   2.887127e-04
B_33          2016   3.644613e-04
B_27          2016   3.644613e-04
B_30          2016   3.644613e-04
B_2           2016   3.644613e-04
D_41          2016   3.644613e-04
B_3           2016   3.644613e-04
B_26          2016   3.644613e-04
B_38          2016   3.644613e-04
B_16          2016   3.644613e-04
B_22          2016   3.644613e-04
B_20          2016   3.644613e-04
D_54          2016   3.644613e-04
B_19          2016   3.644613e-04
D_45          2017   3.646421e-04
D_112         2650   4.790786e-04
B_15          6923   1.251570e-03
B_25          6923   1.251570e-03
S_25         12847   2.322537e-03
S_24         18593   3.361324e-03
S_22         19024   3.439242e-03
D_80         21773   3.936219e-03
D_74         21773   3.936219e-03
B_8          22268   4.025707e-03
D_72         23708   4.286036e-03
D_81         25687   4.643809e-03
D_89         29563   5.344529e-03
D_84         29563   5.344529e-03
D_52         29563   5.344529e-03
D_140        40632   7.345631e-03
D_102        40655   7.349789e-03
D_144        40727   7.362806e-03
D_133        42716   7.722386e-03
P_2          45985   8.313370e-03
B_13         49519   8.952262e-03
D_79         75939   1.372859e-02
D_70         94917   1.715951e-02
D_130       101548   1.835829e-02
D_103       101548   1.835829e-02
D_129       101548   1.835829e-02
D_104       101548   1.835829e-02
D_128       101548   1.835829e-02
D_139       101548   1.835829e-02
D_107       101548   1.835829e-02
D_141       101548   1.835829e-02
D_143       101548   1.835829e-02
D_131       101548   1.835829e-02
D_145       101548   1.835829e-02
D_59        106725   1.929421e-02
D_126       116816   2.111851e-02
R_27        128703   2.326749e-02
D_91        157216   2.842220e-02
D_118       176716   3.194749e-02
D_125       176716   3.194749e-02
D_124       176716   3.194749e-02
D_123       176716   3.194749e-02
D_122       176716   3.194749e-02
D_121       176716   3.194749e-02
D_120       176716   3.194749e-02
D_119       176716   3.194749e-02
D_117       176716   3.194749e-02
D_115       176716   3.194749e-02
D_114       176716   3.194749e-02
D_113       176716   3.194749e-02
D_116       176716   3.194749e-02
D_55        184803   3.340950e-02
D_83        194473   3.515768e-02
D_69        194473   3.515768e-02
D_68        216503   3.914036e-02
D_64        217442   3.931012e-02
D_78        274319   4.959259e-02
D_44        274319   4.959259e-02
P_3         301492   5.450505e-02
D_61        598052   1.081185e-01
D_48        718725   1.299343e-01
D_62        758161   1.370637e-01
S_3        1020544   1.844984e-01
S_7        1020544   1.844984e-01
D_46       1211699   2.190563e-01
S_27       1400935   2.532672e-01
D_43       1658396   2.998121e-01
D_77       2513912   4.544760e-01
S_9        2933643   5.303569e-01
D_56       2990943   5.407158e-01
D_105      3021431   5.462276e-01
B_17       3137598   5.672287e-01
D_50       3142402   5.680972e-01
D_82       4058614   7.337341e-01
D_53       4084585   7.384292e-01
D_142      4587043   8.292658e-01
D_42       4740137   8.569428e-01
D_66       4908097   8.873073e-01
D_76       4908954   8.874623e-01
R_26       4922146   8.898472e-01
D_49       4985917   9.013760e-01
D_132      4988874   9.019105e-01
D_106      4990102   9.021326e-01
B_29       5150035   9.310459e-01
R_9        5218918   9.434989e-01
D_136      5336752   9.648015e-01
D_134      5336752   9.648015e-01
D_135      5336752   9.648015e-01
D_138      5336752   9.648015e-01
D_137      5336752   9.648015e-01
B_42       5459973   9.870779e-01
D_73       5475595   9.899021e-01
B_39       5497819   9.939199e-01
D_111      5500117   9.943353e-01
D_110      5500117   9.943353e-01
D_108      5502513   9.947685e-01
D_88       5525447   9.989146e-01
D_87       5527586   9.993013e-01

### I'm gonna add a column with just the feature category denoted so we can see if one of the categories is a worse offender in the null department

In [20]:
null_df['feature_category'] = null_df.index.str[0]
null_df

       total_nulls  percent_nulls feature_category
S_2              0       0.000000                S
P_2          45985       0.008313                P
D_39             0       0.000000                D
B_1              0       0.000000                B
B_2           2016       0.000364                B
...            ...            ...              ...
D_141       101548       0.018358                D
D_142      4587043       0.829266                D
D_143       101548       0.018358                D
D_144        40727       0.007363                D
D_145       101548       0.018358                D

[189 rows x 3 columns]

### Now let's groupby those feature categories to see which category has the worst null situation

In [41]:
null_df.groupby('feature_category').percent_nulls.agg(['mean', 'median', 'max', 'min'])

                      mean    median       max  min
feature_category
B                 0.087474  0.000083  0.993920  0.0
D                 0.234380  0.031947  0.999301  0.0
P                 0.020939  0.008313  0.054505  0.0
R                 0.066308  0.000000  0.943499  0.0
S                 0.052815  0.000000  0.530357  0.0

#### We can see that D (Delinquency) is definitely has some issues that need to be worked out

### Let's see which category has the most columns with over 50% nulls

In [23]:
null_df[null_df.percent_nulls > 0.5].feature_category.value_counts()

D    23
B     4
R     2
S     1
Name: feature_category, dtype: int64

#### Yep, we will definitely need to address the D features

### Let's see some of these worst offenders

In [25]:
null_df[null_df.percent_nulls > 0.5].sort_values('percent_nulls', ascending=False)

       total_nulls  percent_nulls feature_category
D_87       5527586       0.999301                D
D_88       5525447       0.998915                D
D_108      5502513       0.994768                D
D_111      5500117       0.994335                D
D_110      5500117       0.994335                D
B_39       5497819       0.993920                B
D_73       5475595       0.989902                D
B_42       5459973       0.987078                B
D_138      5336752       0.964801                D
D_137      5336752       0.964801                D
D_136      5336752       0.964801                D
D_135      5336752       0.964801                D
D_134      5336752       0.964801                D
R_9        5218918       0.943499                R
B_29       5150035       0.931046                B
D_106      4990102       0.902133                D
D_132      4988874       0.901911                D
D_49       4985917       0.901376                D
R_26       4922146       0.889847                R
D_76       4908954       0.887462                D
D_66       4908097       0.887307                D
D_42       4740137       0.856943                D
D_142      4587043       0.829266                D
D_53       4084585       0.738429                D
D_82       4058614       0.733734                D
D_50       3142402       0.568097                D
B_17       3137598       0.567229                B
D_105      3021431       0.546228                D
D_56       2990943       0.540716                D
S_9        2933643       0.530357                S

### Now lets see what the top three of these have for values

In [30]:
X_df.D_87.value_counts()

1.0    3865
Name: D_87, dtype: int64

#### We may be able to just replace nulls with 0 here

#### I wonder if whether some one defaults is dependent on this column?

In [38]:
y_df[y_df.customer_ID.isin(X_df[X_df.D_87 == 1.0].customer_ID.unique())].target.value_counts()

1    751
0     78
Name: target, dtype: int64

#### Definitely should check this out in stats testing

In [31]:
X_df.D_88.value_counts()

0.116990    1
0.166067    1
0.014469    1
0.007764    1
0.013136    1
           ..
0.833675    1
0.096507    1
0.198089    1
0.102314    1
0.167155    1
Name: D_88, Length: 6004, dtype: int64

#### Here we may need to find an imputation method

In [32]:
X_df.D_108.value_counts()

0.001809    1
0.000534    1
0.007040    1
0.001543    1
0.005966    1
           ..
0.008753    1
2.006014    1
0.001395    1
0.006181    1
0.005740    1
Name: D_108, Length: 28938, dtype: int64

#### Same with this one