# Breaking up the Test Data File

## Imports

In [1]:
import pandas as pd
from datetime import datetime

## Break up time (It's not you, it's me)

Looking at the kaggle data summary, this dataset has 11.4 million rows and is around 33 gb

In [2]:
11_400_000 / 33

345454.54545454547

So if we want to chunk this into about 1gb chunks we will need to make chunksize around 350,000

In [3]:
for i,chunk in enumerate(pd.read_csv('data/test_data.csv', chunksize=350000)):
    print(i)
    chunk.to_csv('data/chunked/test_data_chunk{}.csv'.format(i), index=False)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

In [4]:
for i in range(0, 32):
    print(f'Started file {i} at {datetime.now()}')
    
    df1 = pd.read_csv(f'data/chunked/test_data_chunk{i}.csv')
    df2 = pd.read_csv(f'data/chunked/test_data_chunk{i+1}.csv')
    
    df1_last_id = df1.customer_ID.values[-1]
    df2_first_id = df2.customer_ID.values[0]
    
    if df1_last_id == df2_first_id:
        df2_first_id_df = df2[df2.customer_ID == df2_first_id]
        
        df2 = df2[df2.customer_ID != df2_first_id]
        
        df1 = pd.concat([df1, df2_first_id_df], ignore_index=True)
        
        df1.to_csv(f'data/chunked/test_data_chunk{i}.csv')
        df2.to_csv(f'data/chunked/test_data_chunk{i+1}.csv')

Started file 0 at 2022-08-17 09:41:19.777774
Started file 1 at 2022-08-17 09:41:30.905831
Started file 2 at 2022-08-17 09:42:58.691209
Started file 3 at 2022-08-17 09:44:26.142181
Started file 4 at 2022-08-17 09:45:52.128740
Started file 5 at 2022-08-17 09:46:02.927835
Started file 6 at 2022-08-17 09:47:30.180244
Started file 7 at 2022-08-17 09:48:57.325892
Started file 8 at 2022-08-17 09:50:24.871182
Started file 9 at 2022-08-17 09:51:52.373662
Started file 10 at 2022-08-17 09:53:19.381998
Started file 11 at 2022-08-17 09:54:46.954355
Started file 12 at 2022-08-17 09:56:14.381402
Started file 13 at 2022-08-17 09:57:41.050203
Started file 14 at 2022-08-17 09:59:05.632900
Started file 15 at 2022-08-17 10:00:28.798686
Started file 16 at 2022-08-17 10:01:52.691871
Started file 17 at 2022-08-17 10:03:15.958049
Started file 18 at 2022-08-17 10:04:40.532151
Started file 19 at 2022-08-17 10:06:05.502387
Started file 20 at 2022-08-17 10:07:30.517332
Started file 21 at 2022-08-17 10:08:55.569472
Started file 22 at 2022-08-17 10:10:21.062184
Started file 23 at 2022-08-17 10:11:44.951493
Started file 24 at 2022-08-17 10:13:08.314868
Started file 25 at 2022-08-17 10:14:33.424242
Started file 26 at 2022-08-17 10:15:57.339218
Started file 27 at 2022-08-17 10:17:23.094435
Started file 28 at 2022-08-17 10:18:52.588290
Started file 29 at 2022-08-17 10:20:22.215633
Started file 30 at 2022-08-17 10:21:50.657168
Started file 31 at 2022-08-17 10:23:20.696942