# American Express Probability of Churning Project

In [133]:
import pandas as pd
import os

import matplotlib.pyplot as plt

## Acquire

In [26]:
os.getcwd()

'/Users/mistygarcia/Documents/projects/amex_default_prediction/notebooks/misty'

In [27]:
os.listdir('../../data/raw')

['train_labels.csv',
 '.gitkeep',
 'train_data.csv',
 'train_labels.csv.zip',
 'train_data.csv.zip']

In [28]:
path_data = '~/Documents/projects/amex_default_prediction/data/raw/'

In [143]:
y = pd.read_csv(path_data + 'train_labels.csv')
y

                                              customer_ID  target
0       0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1       00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2       00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3       000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4       00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0
...                                                   ...     ...
458908  ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...       0
458909  ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...       0
458910  ffff9984b999fccb2b6127635ed0736dda94e544e67e02...       0
458911  ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...       1
458912  fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...       0

[458913 rows x 2 columns]

In [31]:
df0 = pd.read_csv(path_data + 'train_data.csv')

In [32]:
df0.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [33]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 7.8+ GB

In [194]:
df = df0.sample(1_000_000).copy()

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 4004234 to 3918638
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 1.4+ GB

## Prepare

### target table

In [196]:
y

                                              customer_ID  target
0       0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1       00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2       00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3       000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4       00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0
...                                                   ...     ...
458908  ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...       0
458909  ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...       0
458910  ffff9984b999fccb2b6127635ed0736dda94e544e67e02...       0
458911  ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...       1
458912  fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...       0

[458913 rows x 2 columns]

In [197]:
y.customer_ID.value_counts()

0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    1
aab6cd60f43333ffbf74b6500af488da9966c9c5d7bb503c90db0ae695f907c4    1
aa5f0a0add6369c75c051f901120fbf459925ba2b4a8136b0c05edd48be2f0c5    1
aa5ee4d6e08edd3785feb1d22a2b743b360048733afe160963d1ea79e28ac0d3    1
aa5ee11132972c48030b6d70bb5581030881c6a719eed89a7d6c2fae7c00b0d5    1
                                                                   ..
5524f85ff22a78cb1c9d4b73e9ec7207c759af5c4eeabfac9f26f3b5e8449f6f    1
5524e344a926262985d457dd032d7331cf35fb7b9c46aeb86e4d188383a3517e    1
55248e11e065ada462656af589c579d241a78e1679cbcde8f8ecd395cf2042c4    1
55248098f5e9df59ba46d6910666ca6b3d72ca5ad3d7b0088bd1583537bd086f    1
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eaba8b115f71cab04681    1
Name: customer_ID, Length: 458913, dtype: int64

In [198]:
y.target.value_counts()

0    340085
1    118828
Name: target, dtype: int64

### feature table

In [199]:
df.columns

Index(['customer_ID', 'S_2', 'P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'S_3', 'D_41',
       'B_3',
       ...
       'D_136', 'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143',
       'D_144', 'D_145'],
      dtype='object', length=190)

In [200]:
df = df.reindex(sorted(df.columns), axis=1)

#### columns

D_* = Delinquency variables

S_* = Spend variables

P_* = Payment variables

B_* = Balance variables

R_* = Risk variables

In [201]:
df.columns

Index(['B_1', 'B_10', 'B_11', 'B_12', 'B_13', 'B_14', 'B_15', 'B_16', 'B_17',
       'B_18',
       ...
       'S_25', 'S_26', 'S_27', 'S_3', 'S_5', 'S_6', 'S_7', 'S_8', 'S_9',
       'customer_ID'],
      dtype='object', length=190)

In [202]:
col_variables = ['D', 'S', 'P', 'B', 'R']

In [204]:
for c_var in col_variables:
    c_var_separate = []
    for col in df.columns:
        if col.startswith(c_var):
            c_var_separate.append(col)
    print(c_var, len(c_var_separate))

D 96
S 22
P 3
B 40
R 28

In [205]:
col_categories = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']

In [206]:
for col_cat in col_categories:
    print(df[col_cat].value_counts())
    print()

0.0    851159
1.0    138563
2.0      9919
Name: B_30, dtype: int64

2.0    352890
3.0    226703
1.0    209605
5.0     80448
4.0     53453
7.0     47015
6.0     29527
Name: B_38, dtype: int64

1.0    599881
0.0    368483
Name: D_114, dtype: int64

0.0    967114
1.0      1250
Name: D_116, dtype: int64

-1.0    263328
 3.0    210733
 4.0    206029
 2.0    120778
 5.0     83009
 6.0     62203
 1.0     22284
Name: D_117, dtype: int64

0.0    855000
1.0    113364
Name: D_120, dtype: int64

 1.0    770574
 0.0    161259
-1.0     47341
Name: D_126, dtype: int64

CO    744903
CR    167941
CL     79242
XZ      4695
XM      1971
XL      1248
Name: D_63, dtype: int64

O     526892
U     275429
R     151955
-1      6765
Name: D_64, dtype: int64

1.0    111282
0.0      1082
Name: D_66, dtype: int64

6.0    503240
5.0    216939
3.0     87992
4.0     86523
2.0     39820
1.0     23802
0.0      2922
Name: D_68, dtype: int64

In [207]:
df.columns = df.columns.str.lower().str.replace('_','')

In [208]:
df_d = df.filter(regex= '^d')
df_s = df.filter(regex= '^s')
df_p = df.filter(regex= '^p')
df_b = df.filter(regex= '^b')
df_r = df.filter(regex= '^r')

#### delinquency variables

In [247]:
df_d.head(10).T

,4004234,2742209,2543703,5510925,3696672,980304,2297819,3543094,4187297,2539068
d102,0.006611,0.000376,0.284776,0.002307,0.001964,0.031952,0.006893,0.342194,0.003725,0.008786
d103,0.004714,0.003549,1.007452,0.007454,0.000561,1.009256,0.006501,1.0025,0.001177,0.004937
d104,0.002327,0.006493,0.96112,0.004376,0.000548,0.95315,0.001407,0.962532,0.002261,0.0037
d105,NaN,NaN,0.52493,NaN,NaN,0.041806,NaN,0.145853,NaN,NaN
d106,NaN,NaN,0.305406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
d91,0.005425,0.004867,0.006529,0.004758,0.002949,0.003791,0.007788,0.003231,0.009307,0.009169
d92,0.008271,0.004677,0.005157,0.008534,0.006843,0.001052,0.00904,0.005674,0.006139,0.00711
d93,0.009063,0.009532,0.008618,0.001078,0.006639,0.007964,0.007248,0.005364,0.002188,0.003087
d94,0.007507,0.006308,0.001385,0.000943,0.006556,0.007825,0.00293,0.00852,0.00632,0.00157
d96,0.00852,0.002815,0.003728,0.006149,0.000132,0.007171,0.009623,0.007612,0.005208,0.008621

#### spend variables

In [221]:
df_s.head(10).T

,4004234,2742209,2543703,5510925,3696672,980304,2297819,3543094,4187297,2539068
s11,0.44518,0.528656,0.328551,0.280337,0.243569,0.324044,0.361099,0.243431,0.12039,0.280164
s12,0.186622,0.18874,0.469732,0.18813,0.19175,0.192559,0.227063,0.383237,0.316395,0.191241
s13,0.286657,0.008193,0.42522,0.000678,0.00779,0.003832,0.42459,0.423805,0.281446,0.007949
s15,0.207453,0.20542,0.409728,0.50938,0.504051,0.301737,0.406472,0.200526,0.409475,0.502773
s16,0.005675,0.004334,0.003056,0.002481,0.005747,0.00165,0.008421,0.000948,0.007639,0.00171
s17,0.007763,0.005808,0.004692,0.005563,0.002497,0.004532,0.004082,0.513325,0.007576,0.008374
s18,0.005375,0.00249,0.009818,0.004057,0.002938,0.00761,0.002036,0.006452,0.000494,0.001528
s19,0.006581,0.000376,0.005813,0.005195,0.000045,0.005791,0.000083,0.003831,0.00228,0.001484
s2,2017-09-23,2017-12-30,2018-01-13,2017-06-16,2017-12-18,2017-07-04,2017-11-04,2018-01-15,2018-02-13,2018-02-19
s20,0.006501,0.000368,0.006276,0.006821,0.004189,0.008878,0.002931,0.008851,0.000579,0.001279
s22,0.925086,0.88766,0.971175,0.297194,0.930644,0.953134,0.946855,0.97827,0.930142,0.296748
s23,0.140292,0.139339,0.135391,0.13415,0.521665,0.135902,0.139346,0.13759,0.131126,0.135858
s24,0.939363,0.895758,0.979087,0.086417,0.934249,0.959455,0.958911,0.98632,0.928889,0.081696
s25,0.973809,0.977683,0.971688,0.971905,0.623044,0.970546,0.973543,0.972564,0.973764,0.969481
s26,0.007543,0.00461,0.002092,0.006243,0.005506,0.077452,0.000628,0.263783,0.005267,0.00247
s27,0.004275,0.328547,0.613469,NaN,0.006966,0.334592,0.001013,0.553544,0.442196,NaN
s3,0.262983,0.113132,0.233668,0.317108,0.256249,0.140028,0.398084,0.172052,0.109786,NaN
s5,0.040342,0.001598,0.153613,0.00349,0.023584,0.008611,0.00749,0.324288,0.025957,0.005377
s6,0.004597,0.000539,1.003934,0.004545,0.002073,0.004416,0.003744,0.005533,0.005652,1.006839
s7,0.234026,0.076778,0.303712,0.235998,0.220374,0.091415,0.369749,0.376385,0.068404,NaN
s8,0.598478,0.464896,0.317029,0.00143,0.109164,0.329711,0.321035,0.75718,0.317618,0.007465
s9,NaN,0.009179,NaN,NaN,NaN,0.138867,NaN,0.012629,0.028969,NaN

In [222]:
df_s.describe().T

,count,mean,std,min,25%,50%,75%,max
s11,1000000.0,0.375185,0.190983,-1.999987e-01,0.282442,0.289727,0.448773,2.929741
s12,1000000.0,0.240714,0.241603,-3.974671e-01,0.186911,0.190831,0.209105,84.730215
s13,1000000.0,0.254637,0.296481,1.316178e-08,0.004893,0.009797,0.427715,1.010000
s15,1000000.0,0.374868,0.195017,-2.999953e-01,0.207578,0.401836,0.504834,5.302155
s16,1000000.0,0.049999,0.732643,6.926695e-09,0.002556,0.005098,0.007656,157.305995
s17,1000000.0,0.040121,0.242868,1.019806e-09,0.002692,0.005368,0.008054,4.049057
s18,1000000.0,0.031461,0.160539,3.354748e-09,0.002568,0.005135,0.007696,1.010000
s19,1000000.0,0.005025,0.003020,3.442702e-09,0.002505,0.005005,0.007512,0.267822
s20,1000000.0,0.017489,0.111102,1.860331e-08,0.002531,0.005059,0.007590,1.010000
s22,996504.0,0.779533,0.698152,-9.199537e+01,0.811585,0.942191,0.964766,1.032704
s23,999913.0,0.179407,0.811905,-2.050727e+02,0.133426,0.136226,0.139021,682.659344
s24,996592.0,0.735358,0.818190,-9.048382e+01,0.809767,0.949283,0.971569,1.052823
s25,997638.0,0.924817,0.207840,-2.453394e+00,0.970874,0.973675,0.976478,3.646533
s26,999873.0,0.066742,0.452479,1.067428e-08,0.003410,0.006744,0.010844,100.856953
s27,746559.0,0.277833,0.324993,4.417077e-10,0.006341,0.290118,0.447833,5.234036
s3,815333.0,0.226125,0.193880,-5.173800e-01,0.127337,0.163963,0.258597,5.018255
s5,1000000.0,0.088102,0.373561,1.101232e-08,0.005643,0.013585,0.071536,73.133700
s6,1000000.0,0.244270,0.426642,7.310181e-09,0.003299,0.006582,0.009862,1.010000
s7,815333.0,0.223449,0.206727,-3.856808e-01,0.093729,0.140071,0.296000,3.609262
s8,1000000.0,0.327498,0.302881,2.626578e-08,0.007662,0.321774,0.494925,1.231402
s9,469336.0,0.074539,0.197311,1.282302e-06,0.009764,0.019459,0.053090,2.839594

#### payment variables

In [228]:
df_p.head(10).T

,4004234,2742209,2543703,5510925,3696672,980304,2297819,3543094,4187297,2539068
p2,0.637127,0.776214,0.877559,0.873005,0.477665,0.404533,0.608590,0.592616,0.883970,0.715153
p3,0.651674,0.658065,0.932987,0.641262,0.519255,0.405716,0.869737,0.783846,0.628255,0.437174
p4,0.002617,0.000061,0.000232,0.006073,0.003711,0.005747,0.004982,0.006669,0.001345,0.001984

In [224]:
df_p.describe().T

,count,mean,std,min,25%,50%,75%,max
p2,991670.0,0.655982,0.244578,-4.427228e-01,0.479950,0.693814,0.864558,1.010000
p3,945466.0,0.601309,0.170527,-1.298901e+00,0.540882,0.618346,0.683753,2.100572
p4,1000000.0,0.143729,0.338067,3.533602e-08,0.002933,0.005848,0.008763,1.235892

#### balance variables

In [226]:
df_b.head().T

      4004234   2742209   2543703   5510925   3696672
b1   0.028512  0.008930  0.055424  0.002720  0.644835
b10  0.301351  0.297394  0.040163  0.296658  0.017374
b11  0.017323  0.002458  0.040249  0.002084  0.599800
b12  0.030326  0.015328  0.071757  0.019148  0.013981
b13  0.022343  0.028456  0.054051  0.007833  0.006925
b14  0.012523  0.004642  0.078157  0.004851  0.148625
b15  0.009079  0.000688  0.004636  0.002104  0.000900
b16  0.084465  0.006762  0.001801  0.168287  1.007732
b17  0.003423       NaN       NaN       NaN  0.932357
b18  1.005396  1.008206  0.651974  1.005524  0.207304
b19  0.001745  0.007972  0.007092  0.009103  0.702030
b2   1.003143  1.000119  0.816683  0.817252  0.053141
b20  0.006793  0.009269  0.003632  0.009206  1.006750
b21  0.002047  0.006708  0.004235  0.006746  0.002033
b22  0.003878  0.005808  0.008547  0.001712  0.007447
b23  0.021585  0.026507  0.065833  0.010711  0.280514
b24  0.009855  0.007431  0.008132  0.002389  0.002120
b25  0.021058  0.010075  0.128975  0.009830  0.258081
b26  0.002278  0.003633  0.005017  0.003642  0.000644
b27  0.008484  0.002953  0.002172  0.006004  0.002743
b28  0.024824  0.027185  0.082675  0.020407  0.087896
b29       NaN       NaN       NaN       NaN       NaN
b3   0.008417  0.003489  0.006456  0.008972  0.733597
b30  0.000000  0.000000  0.000000  0.000000  0.000000
b31  1.000000  1.000000  1.000000  1.000000  1.000000
b32  0.005848  0.002369  0.001900  0.003134  0.001875
b33  1.005680  1.002508  1.003809  1.000993  0.001343
b36  0.002674  0.004025  0.008947  0.001124  0.007302
b37  0.023893  0.009668  0.056920  0.007296  0.644756
b38  2.000000  2.000000  2.000000  2.000000  3.000000
b39       NaN       NaN       NaN       NaN       NaN
b4   0.026283  0.018134  0.095624  0.012856  0.261909
b40  0.026144  0.043127  0.032509  0.021325  0.698638
b41  0.002389  0.006363  0.009258  0.008023  0.005380
b42       NaN       NaN       NaN       NaN       NaN
b5   0.015156  0.017225  0.017782  0.000525  0.012633
b6   0.197341  0.183987  0.075828  0.201342  0.004295
b7   0.035269  0.039850  0.090913  0.023350  0.324879
b8   0.001438  1.005389  1.001176  0.007468  1.008615
b9   0.028636  0.001857  0.145993  0.006986  0.632373

In [230]:
df_b.describe().T

,count,mean,std,min,25%,50%,75%,max
b1,1000000.0,0.124227,0.212201,-1.248558e+00,0.008863,0.031354,0.126294,1.324059
b10,1000000.0,0.227133,5.418287,-2.957859e-03,0.028926,0.110247,0.295531,4097.440729
b11,1000000.0,0.111176,0.208528,5.884672e-08,0.006605,0.019483,0.102412,1.675416
b12,1000000.0,0.092685,0.635618,6.511316e-07,0.010866,0.019355,0.069038,397.391451
b13,991134.0,0.100321,0.533734,1.905850e-08,0.009249,0.029232,0.089251,276.177336
b14,1000000.0,0.100982,0.272537,-3.989138e+00,0.008164,0.028494,0.100524,38.329115
b15,998738.0,0.052476,0.286971,-4.721064e+00,0.003132,0.006227,0.009291,45.318087
b16,999641.0,0.348929,0.402540,9.927441e-08,0.006226,0.091747,0.756687,1.010000
b17,432863.0,0.716665,0.386017,3.774555e-08,0.487152,0.932798,1.002227,1.010000
b18,1000000.0,0.595847,0.365645,1.096569e-07,0.206671,0.646534,1.003264,1.010000
b19,999641.0,0.150524,0.289976,1.397003e-08,0.003453,0.006913,0.096045,1.010000
b2,999641.0,0.620878,0.401676,3.419474e-07,0.104552,0.814322,1.002396,1.010000
b20,999641.0,0.236817,0.374050,2.055348e-08,0.004046,0.008081,0.358167,1.010000
b21,1000000.0,0.052520,0.740931,6.627088e-09,0.002547,0.005096,0.007645,169.544334
b22,999641.0,0.107547,0.223522,2.426138e-08,0.003078,0.006166,0.009247,3.503878
b23,1000000.0,0.171715,0.229330,4.363841e-08,0.017491,0.059741,0.247821,1.507260
b24,1000000.0,0.039874,0.319773,7.803936e-09,0.002587,0.005173,0.007759,46.606647
b25,998738.0,0.104053,0.208540,-4.152147e+00,0.005969,0.019928,0.106494,12.530606
b26,999641.0,0.093482,2.422572,1.289166e-08,0.002619,0.005229,0.007850,624.653255
b27,999641.0,0.005007,0.003081,7.221495e-09,0.002505,0.005007,0.007505,0.998572
b28,1000000.0,0.154672,0.225012,-2.160207e-05,0.027451,0.077215,0.194614,18.015523
b29,68831.0,0.032812,0.270161,4.198874e-08,0.002559,0.005098,0.007623,7.762119
b3,999641.0,0.132853,0.235245,4.869306e-08,0.005230,0.009784,0.155734,1.588912
b30,999641.0,0.158458,0.391400,0.000000e+00,0.000000,0.000000,0.000000,2.000000
b31,1000000.0,0.996965,0.055007,0.000000e+00,1.000000,1.000000,1.000000,1.000000
b32,1000000.0,0.027558,0.148529,2.098142e-09,0.002552,0.005108,0.007669,1.009999
b33,999641.0,0.611779,0.488473,2.147189e-10,0.006344,1.001759,1.005874,1.010000
b36,1000000.0,0.006325,0.020903,8.157551e-09,0.002518,0.005029,0.007543,0.866370
b37,999992.0,0.123418,0.211917,-2.331212e+00,0.008840,0.031202,0.124249,1.327811
b38,999641.0,2.718789,1.583158,1.000000e+00,2.000000,2.000000,3.000000,7.000000
b39,5929.0,0.261578,0.305226,-9.433808e-01,0.058362,0.149615,0.296537,1.642561
b4,1000000.0,0.173012,0.222660,2.175166e-08,0.027517,0.082429,0.239664,4.186095
b40,999992.0,0.205908,8.577285,1.648865e-07,0.017440,0.058647,0.246032,4419.313010
b41,999864.0,0.032534,0.224166,2.030713e-09,0.002556,0.005105,0.007663,20.005816
b42,12858.0,0.113103,0.332773,1.282767e-05,0.007261,0.022005,0.105465,9.038492
b5,1000000.0,0.082805,0.386272,2.804822e-11,0.007272,0.015386,0.053665,144.207023
b6,999958.0,0.152145,1.191053,-4.892710e-03,0.020430,0.083132,0.191947,439.442590
b7,1000000.0,0.186314,0.230389,-5.221332e-01,0.028260,0.075996,0.271541,1.252750
b8,996043.0,0.451277,0.497018,1.179499e-08,0.004509,0.009030,1.004180,1.015380
b9,1000000.0,0.190211,0.288613,2.613142e-08,0.005763,0.026066,0.336106,27.424859

#### risk variables

In [231]:
df_r.head(10).T

,4004234,2742209,2543703,5510925,3696672,980304,2297819,3543094,4187297,2539068
r1,0.008258,0.009952,0.000978,0.003795,0.002347,0.002808,0.007993,0.007521,0.008941,0.005452
r10,0.008396,0.004260,0.000600,0.008442,0.009267,0.005123,0.004122,0.005723,0.005885,0.005297
r11,0.001035,0.005722,0.009591,0.004854,0.005529,0.004789,0.008595,0.002297,0.007865,0.002557
r12,1.009737,1.009689,1.001189,1.005514,1.004643,1.001236,1.008651,1.004327,1.007451,1.002507
r13,0.000697,0.000655,0.009152,0.009824,0.008615,0.006031,0.002629,0.000958,0.006814,0.004052
r14,0.007830,0.004881,0.007630,0.008345,0.009353,0.001777,0.001437,0.009313,0.004474,0.002522
r15,0.007497,0.003687,0.000715,0.009474,0.004669,0.004927,0.008850,0.002139,0.006865,0.008975
r16,0.009151,0.000449,0.003152,0.005415,0.006852,0.001558,0.004637,0.508653,0.000371,0.003890
r17,0.005735,0.004678,0.009684,0.002123,0.005166,0.008228,0.006409,0.008095,0.001023,0.003684
r18,0.009580,0.001269,0.001640,0.005696,0.005850,0.006910,0.004768,0.004713,0.007827,0.000264
r19,0.006904,0.002269,0.002855,0.004373,0.006660,0.003809,0.000328,0.007239,0.000140,0.006959
r2,0.009032,0.007884,0.008171,0.001469,0.009112,0.009453,0.009236,0.008453,0.000694,0.008350
r20,0.004190,0.003380,0.007799,0.006328,0.007735,0.009641,0.001516,0.003543,0.004548,0.004555
r21,0.001307,0.003307,0.000765,0.005290,0.005350,0.005894,0.002391,0.004611,0.005161,0.007288
r22,0.001240,0.004910,0.008506,0.009892,0.001595,0.006058,0.003863,0.002243,0.005550,0.006125
r23,0.006947,0.003330,0.004055,0.002374,0.005535,0.002237,0.007275,0.002377,0.008138,0.008752
r24,0.005684,0.003097,0.003246,0.009794,0.000582,0.000079,0.000364,0.001161,0.001368,0.008705
r25,0.005449,0.003217,0.008210,0.000459,0.001961,0.009989,0.001709,0.004417,0.008406,0.001539
r26,NaN,NaN,NaN,NaN,NaN,NaN,0.008248,NaN,NaN,NaN
r27,1.009694,1.000270,1.008630,1.006633,1.008035,1.007614,0.034321,1.007380,1.002469,1.005362
r28,0.006242,0.005137,0.008405,0.006922,0.000756,0.004103,0.003128,0.009964,0.003695,0.002011
r3,0.008961,0.004429,0.106587,0.003923,0.005057,0.200591,0.006945,0.207829,0.008682,0.006871
r4,0.007397,0.005748,0.002653,0.001497,0.003253,0.003349,0.004510,0.002524,0.001364,0.005479
r5,0.007886,0.003328,0.006006,0.001495,0.008671,0.000223,0.003641,0.005133,0.005619,0.003078
r6,0.003908,0.007610,0.000945,0.002849,0.007620,0.008508,0.004303,0.000826,0.004649,0.001275
r7,0.009835,0.001078,0.000149,0.007802,0.000760,0.001653,0.005259,0.006256,0.007932,0.004324
r8,0.007079,0.006415,0.003793,0.007008,0.009264,0.003640,0.008736,0.000598,0.001420,0.002654
r9,NaN,NaN,NaN,NaN,NaN,0.169175,NaN,NaN,NaN,NaN

In [233]:
df_r.describe().T

,count,mean,std,min,25%,50%,75%,max
r1,1000000.0,0.078992,0.226508,5.138723e-09,0.002893,0.005789,0.008669,3.256284
r10,1000000.0,0.065246,0.307751,2.233250e-09,0.002624,0.005244,0.007866,17.003431
r11,1000000.0,0.050939,0.176366,5.312830e-09,0.002712,0.005416,0.008122,10.507297
r12,999991.0,0.979247,0.153709,-9.156160e-02,1.002288,1.004860,1.007421,1.010000
r13,1000000.0,0.005477,0.007220,1.582444e-08,0.002518,0.005037,0.007568,0.683384
r14,1000000.0,0.233801,7.599326,4.684081e-09,0.002542,0.005069,0.007611,1891.364266
r15,1000000.0,0.020285,0.122721,1.004189e-09,0.002539,0.005077,0.007612,1.010000
r16,1000000.0,0.058947,0.239872,5.660560e-10,0.002705,0.005413,0.008123,18.500131
r17,1000000.0,0.005327,0.006306,5.715930e-09,0.002525,0.005036,0.007551,0.602797
r18,1000000.0,0.005004,0.003129,1.019968e-08,0.002495,0.004999,0.007495,0.584054
r19,1000000.0,0.022735,0.132026,1.041445e-08,0.002546,0.005091,0.007635,1.010000
r2,1000000.0,0.047603,0.201984,8.244569e-09,0.002611,0.005220,0.007837,1.010000
r20,999984.0,0.036521,0.374882,5.544154e-09,0.002542,0.005076,0.007612,40.003073
r21,1000000.0,0.021477,0.127341,7.238958e-09,0.002536,0.005081,0.007624,1.010000
r22,1000000.0,0.008628,0.060214,1.383174e-09,0.002505,0.005012,0.007529,1.009999
r23,1000000.0,0.005298,0.017417,8.443200e-10,0.002503,0.005004,0.007507,1.009943
r24,1000000.0,0.018904,0.117137,1.684020e-08,0.002534,0.005070,0.007603,1.009998
r25,1000000.0,0.008255,0.057019,8.351854e-09,0.002507,0.005014,0.007530,1.009997
r26,110055.0,0.084174,0.238220,1.282766e-07,0.005263,0.036928,0.077205,9.184760
r27,976681.0,0.893777,0.312208,-2.413086e-02,1.001550,1.004362,1.007176,1.010000
r28,1000000.0,0.005743,0.027383,1.097922e-09,0.002501,0.005003,0.007509,1.009996
r3,1000000.0,0.120956,0.210023,2.238322e-09,0.004699,0.009395,0.200382,8.803549
r4,1000000.0,0.031333,0.160148,3.459658e-09,0.002568,0.005136,0.007696,1.010000
r5,1000000.0,0.034568,0.253599,2.057681e-08,0.002577,0.005153,0.007721,18.509587
r6,1000000.0,0.057836,0.631534,4.650681e-10,0.002596,0.005193,0.007788,14.448201
r7,1000000.0,0.087594,1.586983,1.061970e-08,0.002564,0.005137,0.007702,324.081852
r8,1000000.0,0.037957,0.302134,6.330835e-09,0.002559,0.005111,0.007661,34.008563
r9,56881.0,0.230469,0.190702,4.605405e-07,0.169091,0.172749,0.176347,1.509979

#### customer ids

In [176]:
df.customerid.value_counts()

1ff55408c7d5800a14cf43a03a25b889529185a9cbc448a0a7cd199e2e94a6eb    10
ff660826ded798eb1e2d04dffd840f955786fdf11190e704878eb0aceefccc2a    10
0160d2aee3bc8e471d32282cc17b162ec0b750303a405467e058adfccd91d7ec     9
2600bcd0d7039bfbc90c7192b51103b5490840ae53ed7d1b7e3785c1acd897c0     9
e8053bd03e793118723a6295266f4648ff6a34a17746bd32d8752d407c6df48c     9
                                                                    ..
6ec8139c79985c5991358f06eeaf78bdbb0e6d00189847b5a8fe5eb1e9d9aaea     1
3eecdb587e8ef5fffe17ce152bd5c0b0f50eacaa412754bff0411e79fd312782     1
f8a14abbcb26937df1b3fb722bc017b4a3998819848a9717d846403f3dd519cc     1
2fb33608c6263d1fd2da6aaac5bc5fc419c8d7cf1e0b32806986a852e0413545     1
2e58188c623f60841341f4a1ea92be1b611a4947d8180d8944005c48dbf38e70     1
Name: customerid, Length: 406955, dtype: int64

In [178]:
df [df.customerid == '1ff55408c7d5800a14cf43a03a25b889529185a9cbc448a0a7cd199e2e94a6eb']

,b1,b10,b11,b12,b13,b14,b15,b16,b17,b18,...,s25,s26,s27,s3,s5,s6,s7,s8,s9,customerid
687276,0.110247,0.007660,0.070407,0.007041,0.005013,0.031414,0.002964,0.592039,1.009489,0.064860,...,0.973837,0.007430,0.000733,0.166525,0.008677,0.002220,0.127266,0.327045,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687278,0.110366,0.014959,0.070051,0.009301,0.011938,0.029082,0.005206,0.834897,0.894865,0.015463,...,0.974143,0.003055,0.006271,0.153502,0.007850,0.002411,0.092882,0.008214,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687273,0.104764,0.012024,0.074613,0.008628,0.019188,0.030085,0.005478,0.420949,1.000034,0.072044,...,-0.738928,0.007154,0.003954,0.165930,0.051793,0.008164,0.105707,0.123171,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687272,0.097925,0.016115,0.061922,0.010105,0.025508,0.024016,0.007398,0.337761,1.003719,0.011031,...,-0.502252,0.008463,NaN,0.167810,0.047957,0.002989,0.110327,0.128060,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687275,0.104744,0.008618,0.067164,0.011050,0.025491,0.023858,0.000880,0.508916,0.989297,0.069905,...,0.972990,0.005026,0.006943,0.236861,0.014528,0.005460,0.195942,0.003261,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687268,0.050547,0.011243,0.032036,0.021129,0.018068,0.027099,0.003732,0.089412,NaN,0.142090,...,0.971987,0.001304,0.006901,0.167956,0.002243,0.009096,0.100311,0.602602,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687270,0.086985,0.013794,0.062981,0.008342,0.022505,0.026938,0.002864,0.256667,1.003780,0.062982,...,-0.504055,0.009036,0.007458,0.163376,0.041445,0.002969,0.104119,0.003097,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687277,0.109588,0.013040,0.072258,0.006422,0.004527,0.028317,0.003200,0.752220,1.006890,0.013154,...,0.978126,0.008104,0.002299,0.175574,0.015189,0.004783,0.127149,0.006845,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687274,0.107768,0.010778,0.074257,0.010085,0.019255,0.030033,0.007393,0.504247,0.980303,0.067461,...,-0.501396,0.001723,0.007733,0.168326,0.046836,0.003320,0.110366,0.004515,NaN,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...
687269,0.063886,0.016691,0.045926,0.016942,0.022515,0.032532,0.007730,0.085964,NaN,0.135603,...,0.976751,0.005100,0.454791,0.169537,0.043323,0.008351,0.102009,0.461563,0.030717,1ff55408c7d5800a14cf43a03a25b889529185a9cbc448...

In [188]:
df.customerid.value_counts().value_counts().sort_index()

1     106412
2     124623
3      96319
4      51894
5      20241
6       5942
7       1269
8        228
9         25
10         2
Name: customerid, dtype: int64

In [186]:
(df.customerid.value_counts() == 1).sum()

106412